body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background-color: #a2d2ff;
    color: white;
    text-shadow: 0 0 1px black;
}

#headshot {
    border-radius: 50%;
    width: 10rem;
    border: 6px solid #EFB0C9;
}
