body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background-color: #a2d2ff;
    color: white;
}

#headshot {
    border-radius: 50%;
    width: 10rem;
    border: 4px solid #EFB0C9;
}
